@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap');

@theme {
  --font-serif: "Bodoni Moda", serif;
  --font-sans: "Inter", sans-serif;

  --color-surface: #f9f9f9;
  --color-surface-dim: #dadada;
  --color-surface-bright: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f4;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #444748;
  --color-outline: #747878;
  --color-outline-variant: #c4c7c7;
  
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-secondary-container: #e5e2dd;
  --color-on-secondary-container: #656461;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
  
  h1, h2, h3, h4, .font-serif {
    @apply font-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gauge-ring {
  transition: stroke-dashoffset 1s ease-in-out;
}

